<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'materialize.min', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<nav>
  <div class="nav-wrapper deep-orange">
    <a href="/" class="brand-logo">Stores</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/new">Add User</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right"></i></a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'materialize.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
</body>
</html>
